#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.content {
  position:absolute;
  top:10;
  right:10;
  left:10;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #f1f1f1;
  min-width: 90%;
  height: 170;
  padding: 20px;
  text-align:center;
  border:3px dashed white;
}
.container {
  position:absolute;
  top:250;
  right:10;
  left:200;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #f1f1f1;
  min-width: 70%;
  min-height: 100%;
  padding: 0px;
  border:1px solid white;
  
}

.wow {
	
	padding-top:18%;
	padding-left:5%;
}

#fb{
	
	

	height:30%;
	width:20%;
	
}
#tt{
	
	height:30%;
	width:20%;
	
	
}
#ii{

	height:30%;
	width:20%;
	
}

#about{
	
	padding-top:7;
	left:20;
	height:150;
	width:400;
	
}
#pl {
	
	float:left;
	font-family:Impact ;
	padding-bottom:10;
	bottom:10;
	font-size:20;
	overflow:hidden;
}
#p2 {
	
	float:right;
	font-family:Impact;
	padding-bottom:40;
	font-size:20;
}

#1 {
	float:left;
	padding-left:0;
}

.abt{
	text-decoration:none;
	color:RED;
}

pre {
	
	float:center;
}

#wew {
	padding-right:24%;
	text-align:center;
}

.oh {
	Float:left;
	padding:5;
	padding-top:20;
	padding-left:10;
}

.contentfooter {
  position:absolute;
  top:140%;
  right:10;
  left:10;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #f1f1f1;
  min-width: 90%;

  height: 130;
  padding: 20px;
  text-align:center;
  border:3px dashed white;
}

button{
	font-family:Impact;
	font-size:16;
	
}
#myBtn {
  position:fixed;
  width:150;
  height:70;
  background:black;
  color:white;
  top: 250;
  transition:width 1s, top .3s;
  left:0;
  border:none;
  border-bottom:solid;
  border-right:solid;
  border-top:solid;
  
}
#myBtn:hover {
  background: white;
  color: black;
  width:300;
  top:250;
  position:fixed;
  left:0;
}

#myBtn1 {
  position:fixed;
  width:150;
  height:70;
  background:black;
  color:white;
  top: 330;
  transition:width 1s, top .3s;
  left:0;
  border:none;
  border-bottom:solid;
  border-right:solid;
  border-top:solid;
}
#myBtn1:hover {
  background: white;
  color: black;
  width:300;
  top:330;
  position:fixed;
  left:0;
}

#myBtn2 {
  position:Fixed;
  width:150;
  height:70;
  background:black;
  color:white;
  top: 410;
  transition:width 1s;
  left:0;
  border:none;
  border-bottom:solid;
  border-right:solid;
  border-top:solid;
}
#myBtn2:hover {
  background: white;
  color: black;
  width:300;
  top:410;
  position:fixed;
  left:0;
}

#myBtn3 {
  position:Fixed;
  width:150;
  height:70;
  background:black;
  color:white;
  top: 490;
  transition:width 1s, top .3s;
  left:0;
  border:none;
  border-bottom:solid;
  border-right:solid;
  border-top:solid;
}
#myBtn3:hover {
  background: white;
  color: black;
  width:300;
  top:490;
  position:fixed;
  left:0;
}